.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #eec3b0, #089b08);
  color: white;
  padding: 0.8rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}


.logo {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 0.6rem;
}

.logo img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
}

.logo span {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  text-decoration: solid;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-links {
  display: flex;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items:center;
  margin: 0;
  padding: 0;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}
.nav-links ul li a::after {
  content: "";
  position:absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  transition: 0.4s ease;
}
.nav-links ul li a:hover::after {
  width: 100%;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 15px;
    background-color: #229622;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links ul {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .nav-links ul li a {
    color: white;
    font-size: 1rem;
  }

 
  .bar.open:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .bar.open:nth-child(2) {
    opacity: 0;
  }
  .bar.open:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
  align-content: center;
}

.avatar-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg,#4cafef,#6c5ce7);
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

